html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: "Nunito", sans-serif;
}

.drop-box {
  height: 440px;
  width: 260px;
  background-color: white;
  border-radius: 30px;
  margin: 20px;
}
.top-cover {
  background-color: rgb(87, 87, 87);
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
.top {
  display: flex;
  align-items: center;
}
.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
}
.text {
  margin-left: 10px;
}
.deta {
  font-size: 10px;
}
/*text styling*/
.component {
  margin: 20px;
  display: flex;
  align-items: center;
}

.svg {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}
.comp-text {
  margin-left: 10px;
}
.l-text {
  font-size: 14px;
  color: black;
}

.s-text {
  font-size: 12px;
  color: gray;
}

.log-text {
  margin-left: 10px;
}

/* drop box 2 styling */

.drop-box-2 {
  margin: 20px;
  min-height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.grp-socials {
  display: flex;
  justify-content: space-between;
}
.ic-name {
  display: flex;
  align-items: center;
}

.icon {
  height: 20px;
  width: 20px;
  background-color: blue;
  border-radius: 50%;
}

.text-class {
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}

.space {
  margin-bottom: 10px;
}
.d-btn {
  font-size: 8px;
  border: none;
  background-color: pink;
  color: red;
  border-radius: 10px;
  padding: 2px 15px;
}
