html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.button-style {
  border-radius: 20px !important;
  font-size: 12px !important;
  padding: 8px 20px !important;
}

.row-2,
.bottom-left,
.bottom-right {
  border: 1px rgb(190, 190, 190) solid;
  border-radius: 15px;
}

.text-style {
  font-size: 30px;
  font-weight: 600;
}

.vertical-line {
  height: 72px;
  width: 2px;
  background-color: gray;
}

@media screen and (max-width: 764px) {
  .text,
  .button-style {
    margin-right: 10px;
  }
  .vertical-line {
    display: none;
  }

  .row-2 {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }
}

.box-style {
  height: 280px;
  background-color: rgb(255, 255, 255);
  border: 1px rgb(192, 192, 192) solid;
  border-radius: 20px;
}

.box-style-2 {
  height: 280px;
  border-radius: 20px;
  background-color: #18a174;
  color: white;
}

.dot {
  height: 10px;
  width: 40px;
  border-radius: 20px;
}
.dot-style {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.text-size {
  font-size: 10px;
}
a.link-style {
  color: white;
  display: flex;
  align-items: center;
  text-align: right;
}

a.link-style::before {
  content: "";
  display: block;
  height: 3px;
  width: 30px;
  background-color: rgb(194, 194, 194);
}
