html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  background-color: rgb(238, 88, 88);
}

a.nav-link {
  color: rgb(53, 53, 53);
  font-size: 14px !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

a.nav-link.active {
  border-bottom: 2px red solid !important;
  color: black !important;
}

.text-style {
  font-size: 12px;
  color: #b3b1b1;
}

.text-styles {
  font-size: 8px;
  color: #b3b1b1;
}

.profile-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.btn-size {
  font-size: 8px !important;
}
