html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

h6::after {
  content: "";
  display: block;
  height: 1px;
  width: 50%;
  background-color: rgb(212, 212, 212);
  margin-top: 10px;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: gray;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  background-color: rgb(238, 88, 88);
}

.nav-tabs .nav-link {
  border: none !important;
}

a.nav-link {
  color: rgb(175, 172, 172);
  font-size: 14px !important;
}

a.nav-link.active {
  border-bottom: 2px red solid !important;
  color: black !important;
}

.overlay-left {
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}
.article-image {
  height: 200px;
  width: 280px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}
.vertical-line {
  height: inherit;
  width: 1px;
  background-color: rgb(223, 223, 223);
}

.tags {
  border-top: 1px rgb(211, 211, 211) solid;
  border-bottom: 1px rgb(211, 211, 211) solid;
  padding: 20px 0;
}

.tag-style {
  background-color: rgb(79, 20, 175);
  color: white;
  margin-top: 10px !important;
  border-radius: 30px !important;
  font-size: 10px !important;
}

.list-grp {
  border-bottom: 1px rgb(211, 211, 211) solid;
  padding: 10px 0;
}

.btn-style {
  padding: 2px 10px !important;
  background-color: transparent;
  color: rgb(151, 151, 151);
  border: 1px rgb(184, 184, 184) solid !important;
  border-radius: 15px !important;
  font-size: 10px !important;
}

.btn-style-2 {
  background-color: transparent;
  border: 1px gray solid !important;
  font-size: 10px !important;
}

.overlay-right {
  background-color: #f5f5f5;
}
.icon-style {
  color: white;
}

.article-box {
  background-color: #fff;
}

.article-story {
  color: #9fabc5;
}
